.card {
  text-align: center;

  .card__icon-cont {
    border-radius: 100%;
    width: 90px;
    background-color: red;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2.5rem;
  }
}
